/* styles/Checkin.css */

.checkin-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .checkin-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .checkin-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .checkin-form input[type="text"],
  .checkin-form input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkin-form input[type="checkbox"] {
    width: auto;
  }
  
  .checkin-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkin-form button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .info-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .info-title {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  .info-list {
    padding-left: 20px;
    list-style-type: decimal;
  }
  
  .info-list li {
    margin-bottom: 10px;
    list-style-type: decimal;
  }
  ol {
    list-style-type: decimal;
  }
  .subtitle {
    font-size: 1.5rem; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    color: purple; /* Adjust text color as needed */
    text-align: justify;


    /* Add any other styles you want for the subtitle class */
  }

  .subtitle-low {
    font-size: 15px; /* Adjust font size as needed */
    /*font-weight: bold; /* Adjust font weight as needed */
    color: black; /* Adjust text color as needed */
    text-align: justify;
    font-style: italic;
    margin-top:10px;
    margin-bottom:10px;

    /* Add any other styles you want for the subtitle class */
  }
  

  .white-square {
    background-color: white;
    width: 100px; /* Set width as desired */
    height: 100px; /* Set height as desired */
  }

  .color-back{

    background-color: white;
    margin-bottom: 10px;
  }