.comment-component {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc; 
    width: 100%; 
  }
  
  .comment {
    border: 1px solid #615f5f93; /* A slightly darker grey border */
    border-radius: 4px; /* Rounded corners for the comment boxes */
    padding: 1rem; /* Padding inside the comment boxes */
    margin-bottom: 1rem; /* Space between comments */
  }
  
  
  